#Ignore everything
/*

# Allow .gitignore
!.gitignore

# Allow subdirs
!/*

#Let .sv and .xcf and .bit files
!*.sv
!*.bit
!*.xcf

# Ignore cache folder
WimpFi_prj/WimpFi_prj.cache/*
WimpFi_prj/WimpFi_prj.sim/*
WimpFi_prj/WimpFi_prj.ip_user_files/*
WimpFi_prj/WimpFi_prj.hw/*
WimpFi_prj/WimpFi_prj.runs/*

# Allow the bitstream files
!bit_stream_archives/*

# Ignore swp files
*.swp

# Ignore log files
*.log

